body
{
    margin: 0px;
}

#top-header
{
    overflow: hidden;
    background: #FF7518;
    /* border: 3px solid yellow; */
}

#nav1 > .nav-links 
{
  border: 1px solid red; 
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center; 
  float: right;
  margin: 7px 0px;
  padding: 0px;
}

#nav1 > .nav-links > li
{
  border: 1px  solid black;
  padding: 5px;
  
}

#nav1 > .nav-links > li > a
{
  text-decoration: none;
  font-size: 18px;
}

#nav1 > .nav-links li:hover
{
  background-color: #a45ee5;
}


@media screen and (max-width: 768px) 
{   
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 5px 3px;
        top: 3px;
        border: 1px solid aqua;
        
      }
      
      .line{
        width: 25px;
        height: 4px;
        background-color: #333;
        margin: 1px 0;  
      }

      #nav1 > .nav-links{
        display: none;
      }
    
      #nav1.active{
        position: fixed;
        display: flex;
        background-color: #3EB489;
        height:100%;
        width: 100%;
      
      }

       /* #nav1.active > ul > li > a {
        border: 1px solid red;
        position: fixed;
        display: flex;
        top: 50vh;
        left: 50vh; 
        
      } */
      
}

    






