body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1
{
  text-align: center;
  margin: 0px 0px 20px 0px;
  padding: 0px;  
}

#turn_status
{
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  
}

.board_flex
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.board
{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 300px;
    height: 200px;
    margin-bottom: 125px;
   
  }
  
  .space 
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box; 
    width: 100px;
    height: 100px;
  }

  .player-X, .player-O 
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-X
  {
    color: red;
  }

  .player-O 
  {
    color: blue; 
  }

  p
  {
    font-size: 18px;
    text-align: center;
  }

  #reset
  {
   display: block;
   text-align: center;
   align-items: center;
  }

  @media (max-width: 768px) 
  {

   
    .board {
      margin: 0 auto 125px auto;
    }
  
    .space {
      font-size: 20px; 
      padding: 5px; 
    
    }
  } 

