/* CSS for styling the article */
#article
{
  display: flex;
}

/* CSS for styling the container */
#container
{
  display: flex;
  background-color:	#1F75FE;
  padding: 8px;
  flex-direction: column;
}

/* CSS for styling the button with id "myBtn" */
#myBtn
{
  padding: 12px 20px;
  margin: 4px 0;
  border: 3px solid #FF7538;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* CSS for styling the display element with id "display" */
#display
{
  margin: 2px 0 2px 0;
  border: 2px solid #FF7538;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}