body
{
    padding: 0%;
    margin: 0px;
}

#header-top
{
    overflow: hidden;
    background: #FF7518;
}

#nav1{
    float: right;;
}

#nav1 a{
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    float: left;
    color: #2B1B17;
    padding: 10px 8px;
}

#nav1 a:hover{
    background-color: #8F00FF;
}

@media screen and (max-width: 768px) 
{   
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 5px 3px;
        top: 3px;
        
      }
      
      .line{
        width: 25px;
        height: 4px;
        background-color: #333;
        margin: 1px 0;
        transition: 0.4s;    
      }

      #nav1{
        display: none;
      }
    
      #nav1.active{
        position: fixed;
        display: flex;
        z-index:5;
        background-color:white;
        width:100%;
        height:100%;
      }

       #nav1.active > a {
        display: flex;
        color: blue;
        text-align: center;
        justify-content: flex-end;
      }
      
      
}

    






