body
{
    margin: 0px;
}

#header-top
{
    overflow: hidden;
    background: #FF7518;
}

#nav1{
    float: right;;
}

#nav1 a{
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    float: left;
    color: #2B1B17;
    padding: 10px 8px;
}

#nav1 a:hover{
    background-color: #8F00FF;
}


    






